@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    <a href="mailto:100372120@alumnos.uc3m.es">Jose Antonio de la Fuente Brando</a><br />
    <a href="mailto:100318050@alumnos.uc3m.es">Ernesto Gonzalez Chacón</a>
</address>
